/* CSS Document */
.h-carousel{
	color:maroon ;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif
}

.watch{
	padding: 10px ;
}

.text{
	color: black ;
	padding: 5px ;
}

.name{
	color:cadetblue ;
}

.price{
	padding: 5px ;
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif" ;
	
}

.save{
	color: red ;
	text-align: right ;
	
}

.head-panel{
	background-color: #303030 ;
	color: aliceblue ;
}

.panel-border{
	border:grey 1px solid ;
}

.panel-text{
	font-family:Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"
}

.modal-dialog{
	width: auto;
	text-align: center;
}

.modal-content{
	display: inline-block;
	text-align: center;
}


